@model OMNI.Web.Models.Master.RekomendasiJenisModel

<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Form Add/Edit Spesifikasi / Jenis" })

    <div class="modal-body">
        @Html.HiddenFor(b => b.Id)

        <div class="form-group">
            <label class="form-label" for="">Peralatan OSR</label>
            <input class="form-control" type="text" asp-for="PeralatanOSR" disabled />
            <input type="hidden" name="Port" asp-for="Port" />
            <input type="hidden" name="RekomendasiType" asp-for="RekomendasiType" />
        </div>

        <div class="form-group">
            <label class="form-label" for="">Jenis</label>
            <input class="form-control" type="text" asp-for="Jenis" disabled />
        </div>

        <div class="form-group">
            <label class="form-label" for="">Rekomendasi Type</label>
            <input class="form-control" type="text" asp-for="TypeName" disabled />
        </div>
    <div class="form-group">
        <label class="form-label" for="">Rekomendasi Value</label>
        <input class="form-control" type="number" name="Value" asp-for="Value" />

        <input type="hidden" name="UpdatedBy" asp-for="UpdatedBy" id="updatedBy" />
        <input type="hidden" name="CreatedBy" asp-for="UpdatedBy" id="createdBy" />
    </div>
    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>

<script src="~/js/jquery-qrcode.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var selectedJenisId = parseInt("@ViewBag.JenisId");
        var selectedPeralatanOSR = $("#peralatanOSR").val();
        if (selectedPeralatanOSR > 0) {
            $.ajax({
                url: base_api + "Home/GetAllSpesifikasiJenisByPeralatanOSR?id=" + selectedPeralatanOSR,
                method: "GET",
                success: function (result) {
                    if (result.data.length > 0) {
                        $('#jenis').find('option').remove().end();
                        var $dropdown = $("#jenis");
                        $.each(result.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.jenis));
                        });
                    }
                }, complete: function () {
                    $("#jenis").val(selectedJenisId).change();
                }
            });
        }

        $("#peralatanOSR").on('change', function () {
            var id = this.value;

            $.ajax({
                url: base_api + "Home/GetAllSpesifikasiJenisByPeralatanOSR?id=" + id,
                method: "GET",
                success: function (result) {
                    if (result.data.length > 0) {
                        $('#jenis').find('option').remove().end();
                        var $dropdown = $("#jenis");
                        $.each(result.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.jenis));
                        });
                    }
                }, complete: function () {

                }
            })
        });

        $('.select2-input').select2({
            dropdownParent: $('#modal-add-edit')
        });

        $(document).on('submit', '#form-akun', function () {
        var form = $('#form-akun');
        var validation = Array.prototype.filter.call(form, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            else {
                event.preventDefault();
                var param = new FormParam(
                    form,
                    "Apakah Anda yakin ingin menyimpan akun ini?",
                    '@Url.Action("AddEdit")',
                    null,
                    '#modal-add-edit',
                    '#table1'
                );
                initApp.formSubmit(param);
            }
            form.classList.add('was-validated');
        });
    });
    });

</script>
