<div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
    <a href="/home" class="page-logo-link press-scale-down d-flex align-items-center justify-content-center">
        <img style="height:45px;width:180px;" src="~/img/ShipChandler.png" alt="Application Logo" aria-roledescription="logo">
    </a>
</div>