@{
    ViewData["Title"] = "History Latihan";
    ViewData["PageName"] = "history_personil";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-history'></i>  History Latihan";
    ViewData["PageDescription"] = "";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    History List
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="table_history_latihan_trx" class="table table-borderless table-hover table-striped w-100">
                        <thead>
                            <tr class="fw-500 text-uppercase">
                                <th style="width:7%;">No</th>
                                <th style="width:70px;">Latihan</th>
                                <th style="width:70px;">Satuan</th>
                                <th style="width:70px;">Tanggal Pelaksanaan</th>
                                <th style="width:80px;">Created By</th>
                                <th style="width:80px;">Created At</th>
                                <th style="width:80px;">Updated By</th>
                                <th style="width:80px;">Updated At</th>
                                <th style="width:80px;">Status Submit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
            $(document).ready(function () {

                var port = "@ViewBag.Port";
                var selectedYear = parseInt("@ViewBag.Year");
                var trxId = parseInt("@ViewBag.TrxId");

                $('#table_history_latihan_trx thead tr:eq(1) th').each(function (i) {
                    $('select', this).on('change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                });

                var table = $('#table_history_latihan_trx').DataTable(
                    {
                        "ordering": false,
                        "scrollX": true,
                        "scrollY": '400px',
                        "scrollCollapse": true,
                        "paging": false,
                        order: [],
                        columnDefs: [
                            { "orderable": false, "targets": 8 }
                        ],
                        processing: true,
                        "ajax": {
                            "url": base_api + 'HistoryTrx/GetAllHistoryLatihanTrx?trxId=' + trxId + '&port=' + port + '&year=' + selectedYear,
                            "type": 'GET'
                        },
                        "columns": [
                            { "data": null },
                            { "data": "latihan" },
                            { "data": "satuan" },
                            { "data": "tanggalPelaksanaan" },
                            { "data": "createdBy" },
                            { "data": "createDate" },
                            { "data": "updatedBy" },
                            { "data": "updateDate" },
                            { "data": "trxStatus" }
                        ],
                        "order": [[1, 'asc']],
                        rowCallback: function (row, data, iDisplayIndex) {
                        },
                        "initComplete": function (settings, json) {
                        },
                        "destroy": true
                    }).ajax.reload();

                table.on('order.dt search.dt', function () {
                    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            });
</script>