@model OMNI.Web.Models.Master.RekomendasiLatihanModel

<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Form Add/Edit Rekomendasi Latihan" })

    <div class="modal-body">
        @Html.HiddenFor(b => b.Id)

        <div class="form-group">
            <label class="form-label" for="">Select Latihan</label>
            <select name="Latihan" asp-for="Latihan" id="latihan" class="select2-input"
                    asp-items="@(new SelectList(ViewBag.LatihanList, "Id","Name"))">
            </select>
            <input type="hidden" name="Port" asp-for="Port" />
            <input type="hidden" name="Year" asp-for="Year" />
        </div>

        <div class="form-group">
            <label class="form-label" for="">Select Type</label>
            <select name="RekomendasiType" asp-for="RekomendasiType" id="rekomendasiType" class="select2-input"
                    asp-items="@(new SelectList(ViewBag.RekomendasiTypeList, "Id","Name"))">
            </select>
        </div>

        <div class="form-group">
            <label class="form-label" for="">Rekomendasi Value</label>
            <input class="form-control" type="number" name="Value" asp-for="Value" />

            <input type="hidden" name="UpdatedBy" asp-for="UpdatedBy" id="updatedBy" />
            <input type="hidden" name="CreatedBy" asp-for="UpdatedBy" id="createdBy" />
        </div>
    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $("#updatedBy").val(userData.username);
        $("#createdBy").val(userData.username);

        $('.select2-input').select2({
            dropdownParent: $('#modal-add-edit')
        });

        $(document).on('submit', '#form-akun', function () {
        var form = $('#form-akun');
        var validation = Array.prototype.filter.call(form, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            else {
                event.preventDefault();
                var param = new FormParam(
                    form,
                    "Apakah Anda yakin ingin menyimpan akun ini?",
                    '@Url.Action("AddEdit")',
                    null,
                    '#modal-add-edit',
                    '#table1'
                );
                initApp.formSubmit(param);
            }
            form.classList.add('was-validated');
        });
    });
    });

</script>
