
<!--<div class="login-company" style="display:block;">
    <form class="form-horizontal">
        <div style="text-align:center">
            <br>
            <label style="color:lightgray">Select Company</label>
        </div>
        <select name="client_id_admin[]" class="form-control select2" multiple="multiple"></select>-->

        @*<button type="button" style="width:62px;" class="btn btn-primary btn-choose btn-sm ">Choose</button>
            <button type="button" style="width:62px;" class="btn btn-success btn-all btn-sm">All</button>
            <button type="button" style="width:62px;" class="btn btn-warning btn-reset btn-sm ">Reset</button>*@

    <!--</form>
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
        <ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Find">
                    <i class="fal fa-search-plus"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Choose">
                    <i class="fal fa-users"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reset">
                    <i class="fal fa-repeat"></i>
                </a>
            </li>
        </ul>
    </div>
</div>-->
<div class="nav-filter">
    <div class="position-relative">
        <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
        <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
            <i class="fal fa-chevron-up"></i>
        </a>
    </div>
</div>
