@{
    ViewData["Title"] = "Spesifikasi / Jenis Detail";
    ViewData["PageName"] = "qr_code";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i>  Detail";
    ViewData["PageDescription"] = "Halaman pengelolaan data master detail Spesifikasi / Jenis Oil Spill Response";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Solid Flotation Boom Detail List
                </h2>
                <div class="panel-toolbar">
                    <a asp-action="DetailAddEdit" class="btn btn-primary btn-sm shadow-0" data-toggle="modal" data-target="#modal-add-edit"><i class="fal fa-plus"></i>  Add</a>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="table-akun" class="table table-borderless table-hover table-striped w-100">
                        <thead>
                            <tr class="fw-500 text-uppercase">
                                <th>No</th>
                                <th>Lokasi</th>
                                <th>Rekomendasi Hubla</th>
                                <th>QR Code</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Balikpapan</td>
                                <td>400</td>
                                <td>
                                    <img src="~/img/qrcode.jpg" width="70" />
                                </td>
                                <td class="text-center">
                                    <a asp-action="AddEdit" class="btn-edit btn btn-icon btn-sm mr-1 btn-default shadow-0" data-toggle="modal" data-target="#modal-add-edit">
                                        <i class="fal fa-pencil"></i>
                                    </a>
                                    <button class="btn-delete btn btn-icon btn-sm btn-danger shadow-0">
                                        <i class="fal fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Batam</td>
                                <td>300</td>
                                <td>
                                    <img src="~/img/qrcode.jpg" width="70" />
                                </td>
                                <td class="text-center">
                                    <a asp-action="AddEdit" class="btn-edit btn btn-icon btn-sm mr-1 btn-default shadow-0" data-toggle="modal" data-target="#modal-add-edit">
                                        <i class="fal fa-pencil"></i>
                                    </a>
                                    <button class="btn-delete btn btn-icon btn-sm btn-danger shadow-0">
                                        <i class="fal fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sorong</td>
                                <td>200</td>
                                <td>
                                    <img src="~/img/qrcode.jpg" width="70" />
                                </td>
                                <td class="text-center">
                                    <a asp-action="AddEdit" class="btn-edit btn btn-icon btn-sm mr-1 btn-default shadow-0" data-toggle="modal" data-target="#modal-add-edit">
                                        <i class="fal fa-pencil"></i>
                                    </a>
                                    <button class="btn-delete btn btn-icon btn-sm btn-danger shadow-0">
                                        <i class="fal fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Modal", new ModalViewModel { ID = "modal-add-edit", Type = ModalType.Right, Size = ModalSize.Medium })
