@{
    ViewData["Title"] = "Home";
    ViewData["PageName"] = "home";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-exchange'></i>  History Rental/Maintenance";
    ViewData["PageDescription"] = "Halaman Status History rental/Maintenance";
}

@model OMNI.Web.Models.HomeModel
<style>
    .jenis-td {
        background-color: #dcdcdca8;
        font-weight: bold;
    }

    table {
        font-size: 10px;
    }

    td {
        padding: 3px !important;
        vertical-align: middle !important;
    }

    .td-number {
        text-align: center;
        vertical-align: middle;
    }

    .td-edit {
        text-align: center;
    }

    .dataTables_filter {
        margin-top: 15px;
    }

    .buttons-excel {
        position: absolute;
        right: 20px;
    }

    .DTFC_LeftBodyWrapper:before, .DTFC_LeftFootWrapper:before, .DTFC_LeftHeadWrapper:before {
        content: none !important;
    }

    .table-bordered {
        border: 0px solid #97a7c31c !important;
    }

        .table-bordered th, .table-bordered td {
            border: 0.5px solid #97a7c31c !important;
        }

    .dropdown-menu {
        left: -94px;
        font-size: 11px;
    }
</style>
<link href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.bootstrap.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="">Select Lokasi From</label>
                    <select asp-for="Port" id="port" class="select2-input-index"
                            asp-items="@(new SelectList(ViewBag.PortList, "Name","Name"))">
                    </select>
                </div> <br />
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label" for="">Select Year</label>
                    <select name="Year" id="year-lokasi" class="select2-input-index"
                            asp-items="@(new SelectList(ViewBag.YearList, "Name","Name"))">
                    </select>
                </div> <br />
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-primary" id="searchLokasi" style="margin-top: 22px;"><i class="fa fa-search"></i> Search</a>
                </div> <br />
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <br />
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    History List
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="table_history_llp_status" class="table table-borderless table-hover table-striped w-100">
                        <thead>
                            <tr class="fw-500 text-uppercase" style="text-align:center;">
                                <th style="width:70px;">Peralatan OSR</th>
                                <th style="width:70px;">Jenis</th>
                                <th style="width:70px;">Satuan</th>
                                <th style="width:70px;">Detail Existing di Lokasi</th>
                                <th style="width:70px;">No Inventory</th>
                                <th style="width:70px;">Status</th>
                                <th style="width:70px;">Lokasi From</th>
                                <th style="width:70px;">Lokasi To</th>
                                <th style="width:70px;">Tanggal In</th>
                                <th style="width:70px;">Tanggal Out</th>
                                <th style="width:10px;">Action</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ashl1/datatables-rowsgroup@fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
    <script src="~/js/datatable/datatable.js"></script>

    <script>
        @*var port = "@ViewBag.SelectedPort.Name";
        var selectedYear = parseInt("@ViewBag.ThisYear");*@


        $("#year-lokasi").val(selectedYear).change();

            if (port !== null && port !== "") {
                $("#port").val(port).change();
        }

        document.addEventListener("visibilitychange", function () {
            if (document.hidden) {
                console.log("Browser tab is hidden")
            } else {
                console.log("Browser tab is visible")

                if (port !== localStorage.getItem("port") || selectedYear !== localStorage.getItem("selectedYear")) {
                    setTimeout(function () {
                        window.location.href = base_api + 'LLPHistoryStatus/Index?port=' + localStorage.getItem("port") + "&year=" + localStorage.getItem("selectedYear") + "&role=" + userRole + "&userId=" + userData.userId;
                    }, 200);
                }
            }
        });

        $("#year-lokasi").on('change', function () {
            selectedYear = this.value;
            localStorage.setItem("selectedYear", this.value);
        });

        $("#port").on('change', function () {
            port = this.value;
            localStorage.setItem("port", this.value);
        });

        $("#searchLokasi").click(function () {
            window.location.href = base_api + 'LLPHistoryStatus/Index?port=' + port + "&year=" + selectedYear + "&role=" + userRole + "&userId=" + userData.userId;
        })

            $('.select2-input-index').select2();
    </script>
    <script src="~/js/frontend/llpHistory.js"></script>
}