<div class="row">
    <div class="col-md-12">
        <h3>Welcome to OSMOSYS, <b>@ViewBag.Username</b></h3>

    </div>
    @*<div class="col-md-12">
        <a class="btn btn-primary btn-sm shadow-0 waves-effect waves-themed" id="logout">LOGOUT</a>
    </div>*@
    <div class="col-md-12" style="text-align:center;">
        <img src="~/img/logo-2.png" style="width:400px;"/>
    </div>
</div>

<script src="~/js/front/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        //var username = sessionStorage.getItem("username");
        $("#username-mainpage").text(userData.username);

        function funcLogout() {
            window.onbeforeunload = function () { return "Your work will be lost."; };
            window.location.replace("https://login.qa.idaman.pertamina.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3D3c46bba8-7dbd-4649-be13-bc823db6b423%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A44311%252Fsignin-oidc%26response_type%3Dcode%2520id_token%26scope%3Dopenid%2520profile%2520api.auth%2520email%2520user.role%2520user.read%2520user.readAll%2520user.whiteList.readAll%2520position.whiteList.readAll%2520unit.whiteList.readAll%2520position.read%2520position.readAll%2520unit.readAll%2520unit.read%2520offline_access%2520osmosys.user.read%26response_mode%3Dform_post%26nonce%3D637982081556530385.ZWRiNDQ1NmItZGJhMS00YTMxLTkyYTktNzI5MjNkMzM2NzFlMWQxOWE2NzYtZGVmOC00ZWZlLTk1MzUtZjIwNjRkNTRmZmE0%26state%3DCfDJ8DoAvgsMvYxEiqz7l7cGa0kADLzTM5R3lnwcdtKH5WIXBdjFFucqFLfqJIjtZUcUCuXQEdPyNVSDg3JmeTL44oovQu6tSqs43ZWCqMtqF1qzGt9C9ijza5LcFprxLttFD0kTpv2LF5A_jdykgTHRkjz9OoYh6X4dw64mtWLfBGBzE9cqSiWnZLZ8vM7OaxwbF4-Gyq2jWZqxJf0mAkBGCarN0C_qgBW4pDv1NtO6cErZRMFIFOaEugqukcQTwg-DNzCIxPrrPvMHG-QbIVOcGVe7XXvOffUIvuswSIOT5aph%26x-client-SKU%3DID_NETSTANDARD2_0%26x-client-ver%3D5.6.0.0");
        }
        $("#logout").click(function () {
            $.ajax({
                url: funcLogout(),
                type: "GET",
                success: function (res) {
                    console.log(res);
                }, error: function () {

                }, complete: function () {

                }
            })
        });
    });
</script>