@model OMNI.Web.Models.Master.LatihanTrxModel  

<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Form Add/Edit Latihan " })

    <div class="modal-body">
        @Html.HiddenFor(b => b.Id)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Select Latihan</label>
                    <select name="Latihan" asp-for="Latihan" id="latihan" class="select2-input"
                            asp-items="@(new SelectList(ViewBag.LatihanList, "Id","Name"))" required>
                    </select>
                    <input type="hidden" name="Port" asp-for="Port" />
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Satuan</label>
                    <input type="text" id="satuan" asp-for="Satuan" name="Satuan" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Rek. Hubla</label>
                    <input type="text" id="rekomendasiHubla" asp-for="RekomendasiHubla" name="RekomendasiHubla" class="form-control" readonly>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Tanggal Pelaksanaan</label>
                    <input type="text" id="tanggalPelaksanaan" asp-for="TanggalPelaksanaan" name="TanggalPelaksanaan" class="form-control datepicker" style="width: 100% !important;" required>
                </div>
            </div>
        </div><br />
 
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Upload Sertifikat</label>
                    <input type="file" name="Files" class="form-control" asp-for="Files" multiple />
                </div>
            </div>
        </div><br />
    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+10"
        });

        var selectedPelatihan = $("#latihan").val();
        var port = "@ViewBag.Port";

        var inventoryNumber = "";

        if (selectedPelatihan > 0) {
            $.ajax({
                url: base_api + "Home/GetRekomendasiLatihanByLatihanId?id=" + selectedPelatihan + "&port=" + port,
                method: "GET",
                success: function (result) {
                    if (result.data !== null) {
                        $("#satuan").val(result.data.latihan.satuan);
                        $("#rekomendasiHubla").val(result.data.value);
                    }
                }, complete: function () {

                }
            });
        }

        $("#latihan").on('change', function () {
            selectedPelatihan = this.value;

            $.ajax({
                url: base_api + "Home/GetRekomendasiLatihanByLatihanId?id=" + selectedPelatihan + "&port=" + port,
                method: "GET",
                success: function (result) {
                    if (result.data !== null) {
                        $("#satuan").val(result.data.latihan.satuan);
                        $("#rekomendasiHubla").val(result.data.value);
                    }
                }, complete: function () {

                }
            })
        });

        $('.select2-input').select2({
            dropdownParent: $('#modal-add-edit')
        });

        $(document).on('submit', '#form-akun', function () {
        var form = $('#form-akun');
        var validation = Array.prototype.filter.call(form, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            else {
                event.preventDefault();
                var param = new FormParam(
                    form,
                    "Apakah Anda yakin ingin menyimpan akun ini?",
                    '@Url.Action("AddEditLatihanTrx")',
                    null,
                    '#modal-add-edit',
                    '#table_latihan_trx'
                );
                initApp.formSubmit(param);
            }
            form.classList.add('was-validated');
        });
    });
    });

</script>
