<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Formulir Add/Edit Latihan - Balikpapan" })

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Latihan</label>
                    <input class="form-control" value="Komunikasi dan Pelaporan" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Satuan</label>
                    <select class="form-control">
                        <option value="value">Tahunan</option>
                        <option value="value">Bulanan</option>
                        <option value="value">Mingguan</option>
                    </select>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Tanggal Pelaksanaan</label>
                    <input class="form-control" value="" type="date" min="1997-01-01" max="2030-12-31">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Upload Laporan Kegiatan</label>
                    <input class="form-control-file" type="file" name="name" value="" multiple/>
                </div>
            </div>
        </div><br />

              @*<div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="form-label" for="">Rekomendasi Hubla</label>
                          <input class="form-control" value="" type="number">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="form-label" for="">Selisih Hubla</label>
                          <input class="form-control" value="4" type="number" readonly>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="form-label" for="">Persentase Latihan</label>
                          <input class="form-control" value="0" type="number" readonly>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="form-label" for="">Kesesuaian dengan PM.58</label>
                          <input class="form-control" value="TERPENUHI" type="text" readonly>
                      </div>
                  </div>
              </div><br />*@
    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>

<script type="text/javascript">
    $(document).on('submit', '#form-akun', function () {
        var form = $('#form-akun');
        var validation = Array.prototype.filter.call(form, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            else {
                event.preventDefault();
                var param = new FormParam(
                    form,
                    "Apakah Anda yakin ingin menyimpan akun ini?",
                    '@Url.Action("ManageAccount")',
                    null,
                    '#modal-add-edit',
                    '#table-akun'
                );
                initApp.formSubmit(param);
            }
            form.classList.add('was-validated');
        });
    });

    $(document).ready(function () {
        $(".select2-placeholder").select2(
            {
                placeholder: $(this).data("placeholder"),
                allowClear: true
            });
    });
</script>
