<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Files list" })

    <div class="modal-body">
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    @*<div class="panel-hdr">
                        <div class="panel-toolbar">
                            <a asp-action="AddEditFile" asp-route-trxId="@ViewBag.TrxId" asp-route-flag="@ViewBag.Flag" class="btn btn-primary btn-sm shadow-0" data-toggle="modal" data-target="#modal-add-edit-file"><i class="fal fa-plus"></i>  Add</a>
                        </div>
                    </div>*@
                    <div class="panel-container show">
                        <div class="panel-content">
                            <table id="table_files" class="table table-borderless table-hover table-striped w-100">
                                <thead>
                                    <tr class="fw-500 text-uppercase">
                                        <th style="width:5%;">No</th>
                                        <th style="width:50%;">File Name</th>
                                        <th>Date</th>
                                        <th class="text-center" style="width:10px;">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $(".select2-placeholder").select2(
            {
                placeholder: $(this).data("placeholder"),
                allowClear: true
            });

        $('#table_files thead tr:eq(1) th').each(function (i) {
            $('select', this).on('change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#table_files').DataTable(
            {
                orderCellsTop: true,
                fixedHeader: true,
                responsive: true,
                ordering: false,
                order: [],
                columnDefs: [
                    { "orderable": false, "targets": 3 }
                ],
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'l><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    {
                        text: '<i class="fal fa-filter"></i> Filter',
                        className: 'btn btn-sm btn-outline-primary',
                        action: function (e, dt, node, config) {
                            $('#table_files-filter').toggle();
                        }
                    },
                ],
                processing: true,
                //serverSide: true,
                "ajax": {
                    "url": base_api + 'Home/GetAllFiles?trxId=@ViewBag.TrxId&flag=@ViewBag.Flag',
                    "type": 'GET'
                    //"data": { searchData: result }
                },
                "columns": [
                    { "data": null },
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (row, data, iDisplayIndex) {
                            @*return "<a target='_blank' href='/Home/ViewFile?id=" + iDisplayIndex.id + "&flag=@ViewBag.Flag' title='View File'>" + iDisplayIndex.fileName + "</a>";*@
                            return "<a target='_blank' href='/Home/ViewFile?id=" + iDisplayIndex.id + "&fileName=" + iDisplayIndex.fileName + "&flag=@ViewBag.Flag' title='View File'>" + iDisplayIndex.fileName + "</a>";
                        }
                    },
                    { "data": "createDate" },
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (row, data, iDisplayIndex) {
                            var result = "";
                            if (editable == "True") {
                                result += " <a href='javascript:void(0)' onclick='deleteDoc(" + iDisplayIndex.id + ")' class='delete-file' data-id='" + iDisplayIndex.id + "' title='Delete' style='color:red;'><i class='fa fa-trash'></i></a>";
                            }

                            return result;
                        }
                    }
                ],
                "order": [[1, 'asc']],
                rowCallback: function (row, data, iDisplayIndex) {
                },
                "initComplete": function (settings, json) {

                }
            });

        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });

    function deleteDoc(id) {
        Swal.fire({
            title: 'Do you want to delete?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Delete',
            denyButtonText: `Cancel`,
        }).then((result) => {
            if (result.value) {
                $.post(base_api + 'Home/DeleteFile?id=' + id, function (result) {
                    Swal.fire('Deleted!', '', 'success');
                    $("#table_files").DataTable().ajax.reload(null, false);
                });
            } else if (result.isDenied) {

            }
        })
    }
</script>
