@{
    ViewData["Title"] = "Home";
    ViewData["PageName"] = "home";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-book'></i>  Data Lokasi Balikpapan";
    ViewData["PageDescription"] = "Halaman pengelolaan data LLP, Latihan dan Personil Oil Spill Response";
}

<style>
    .jenis-td {
        background-color: #dcdcdca8;
        font-weight: bold;
    }

    table {
        font-size: 10px;
    }

    td {
        padding:3px !important;
        vertical-align:middle !important;
    }

    .td-number {
        text-align: center;
        vertical-align: middle;
    }

    .td-edit {
        text-align:center;
    }
    .scrolls {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="">Select Lokasi</label>
                    <select class="form-control">
                        <option value="value">Balikpapan</option>
                        <option value="value">Batam</option>
                        <option value="value">Sorong</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2" style="padding-top: 23px;">
                <div class="btn btn-success">Search</div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <br />
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    LLP 
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content scrolls">
                    <table id="table-akun" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr class="fw-500 text-uppercase" style="text-align:center;">
                                <th style="width:10px;"></th>
                                <th style="width:10px;">No</th>
                                <th>Peralatan OSR</th>
                                <th>Satuan</th>
                                <th>Detail Existing Lokasi</th>
                                <th>No Aset</th>
                                <th>Kondisi</th>
                                <th>Gambar</th>
                                <th style="width:10px;">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fw-500 text-uppercase" style=" font-size: 10px;">
                                <td class="jenis-td" colspan="9">Oil Boom</td>
                            </tr>
                            <tr>
                                <td rowspan="4" class="td-number">
                                    <a href="javascript:void(0)" id="btn-detail-1" title="Show Detail"><i class="fa fa-plus-circle"></i></a>
                                </td>
                                <td rowspan="4" class="td-number">1</td>
                            </tr>
                            <tr>
                                <td>Solid Flotation Boom</td>
                                <td>meter</td>
                                <td>225</td>
                                <td><a href="#">QR Code</a></td>
                                <td>Baik</td>
                                <td><a href="#">Link Gambar</a></td>
                                <td style="text-align:center;">
                                    <a asp-action="AddEdit" class="btn-edit shadow-0" data-toggle="modal" data-target="#modal-add-edit">
                                        <b><i class="fal fa-pencil"></i></b>
                                    </a>
                                </td>
                            </tr>
                            <tr id="tr-detail-1" class="hidden-tr">
                                <td colspan="9">
                                    <table class="table table-borderless" style="width: 150px !important;">
                                        <tr>
                                            <td>Total Eksisting (Jenis)</td>
                                            <td width="10">:</td>
                                            <td>400</td>
                                        </tr>
                                        <tr>
                                            <td>Total Eksisting (Keseluruhan)</td>
                                            <td width="10">:</td>
                                            <td>1825</td>
                                        </tr>
                                        <tr>
                                            <td>Rekomendasi Hubla</td>
                                            <td width="10">:</td>
                                            <td>400</td>
                                        </tr>
                                        <tr>
                                            <td>Total Keseluruhan Hubla</td>
                                            <td width="10">:</td>
                                            <td>400</td>
                                        </tr>
                                        <tr>
                                            <td>Selisih Hubla</td>
                                            <td width="10">:</td>
                                            <td>1825</td>
                                        </tr>
                                        <tr>
                                            <td>Kesesuaian PM.58</td>
                                            <td width="10">:</td>
                                            <td><b style="color:green">TERPENUHI</b></td>
                                        </tr>
                                        <tr>
                                            <td>Persentase Hubla</td>
                                            <td width="10">:</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Rekomendasi OSCP</td>
                                            <td width="10">:</td>
                                            <td>400</td>
                                        </tr>
                                        <tr>
                                            <td>Total kebutuhan sesuai OSCP</td>
                                            <td width="10">:</td>
                                            <td>1275</td>
                                        </tr>
                                        <tr>
                                            <td>Selisih OSCP</td>
                                            <td width="10">:</td>
                                            <td>125</td>
                                        </tr>
                                        <tr>
                                            <td>Kesesuaian OSCP</td>
                                            <td width="10">:</td>
                                            <td><b style="color:green;">TERPENUHI</b></td>
                                        </tr>
                                        <tr>
                                            <td>Persentase OSCP</td>
                                            <td width="10">:</td>
                                            <td>-</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Modal", new ModalViewModel { ID = "modal-add-edit", Type = ModalType.Right, Size = ModalSize.Medium })
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
        crossorigin="anonymous"></script>
<script>
    $(".hidden-tr").hide();

    $('#btn-detail-1').click(function () {
        if (!$("#tr-detail-1").is(":visible")) {
            $("#tr-detail-1").show();
        } else {
            $("#tr-detail-1").hide();
        }
    })
</script>