<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "LLP Trx Files" })

    <div class="modal-body">
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                           File List
                        </h2>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <table id="table-files" class="table table-borderless table-hover table-striped w-100">
                                <thead>
                                    <tr class="fw-500 text-uppercase">
                                        <th style="width:7%;">No</th>
                                        <th>File Name</th>
                                        <th>Uploaded At</th>
                                        <th>Uploaded By</th>
                                        <th class="text-center" style="width:10%;">Action</th>
                                    </tr>
                                    <tr id="table-files" style="display:none;">
                                        <th></th>
                                        <th><input type="text" class="form-control" placeholder="Filter File Name" /></th>
                                        <th><input type="text" class="form-control" placeholder="Filter Uploaded At" /></th>
                                        <th><input type="text" class="form-control" placeholder="Filter Uploaded By" /></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".select2-placeholder").select2(
            {
                placeholder: $(this).data("placeholder"),
                allowClear: true
            });

        $('#table-files thead tr:eq(1) th').each(function (i) {
            $('select', this).on('change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#table-files').DataTable(
            {
                orderCellsTop: true,
                fixedHeader: true,
                responsive: true,
                ordering: false,
                order: [],
                columnDefs: [
                    { "orderable": false, "targets": 4 }
                ],
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'l><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    {
                        text: '<i class="fal fa-filter"></i> Filter',
                        className: 'btn btn-sm btn-outline-primary',
                        action: function (e, dt, node, config) {
                            $('#table-files-filter').toggle();
                        }
                    },
                ],
                processing: true,
                //serverSide: true,
                "ajax": {
                    "url": base_api + 'Home/GetFiles?trxId=@ViewBag.TrxId',
                    "type": 'GET'
                    //"data": { searchData: result }
                },
                "columns": [
                    { "data": null },
                    { "data": "fileName" },
                    { "data": "createDate" },
                    { "data": "createdBy" },
                    {
                        "targets": -1,
                        "data": null,
                        "render": function (row, data, iDisplayIndex) {
                            return "<a data-toggle='modal' data-target='#modal-add-edit' href='/Home/ViewFile?id=" + iDisplayIndex.id + "' class='btn btn-primary btn-rubah btn-xs small-font' title='Edit'><i class='fa fa-pencil'></i></a>" +
                                " <div onclick='deleteFile(" + iDisplayIndex.id + ")' class='btn btn-danger btn-xs small-font btn-delete' title='Delete'><i class='fa fa-trash'></i></div>";
                        }
                    }
                ],
                "order": [[1, 'asc']],
                rowCallback: function (row, data, iDisplayIndex) {
                },
                "initComplete": function (settings, json) {
                }
            });

        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });
</script>
